@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', arial, sans-serif;
    height: 100%;
}

.main {
    background: no-repeat center / cover #555;
    height: 100%;
    background-blend-mode: overlay;
    transition: background 0.5s;
}

.top-line {
    display: flex;
    padding: 1vw;
    font-size: 1.25rem;
    justify-content: space-between;
    gap: 4vw;
}

.visible-hide {
    visibility: hidden;
}

/*      weather         */

.weather {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: calc(0.5rem + 0.4vw);
    width: min(50%, 180px);
}

.temp-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.weather-icon {
    filter: invert(100%);
    width: 64px;
}

.temp-conditions {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    width: min-content;
}

.temperature {
    font-size: 2rem;
}

.input-weather-city {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    font-size: inherit;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    border-radius: 0.5rem;
    padding: 8px 0 8px 8px;
    width: 100%;
    box-sizing: border-box;
}

.input-weather-city::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: inherit;
}

.opacity70 {
    opacity: 0.7;
}


/*      audio         */

.audio {
    min-width: 15%;
}


/*      central view         */

.center-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 0.5rem;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-40%);
}

.time {
    font-size: calc(1rem + 5vw);
    font-weight: bold;
}

.center-date {
    font-size: calc(1rem + 0.5vw);
    margin-top: -1rem;
}

.greetings {
    display: flex;
    font-size: calc(1rem + 1.5vw);
    gap: 1rem;
    margin-top: 1rem;
}

.hello-to-name {
    text-align: right;
}

.inputName {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    font-size: inherit;
    color: rgba(255, 255, 255, 0.8);
    padding: 0;
    position: relative;
    bottom: -2px;
}

.inputName::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: inherit;
}

.arrow-for-bg {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    transform: translateY(-50%);
    z-index: 2;
}



.arrow-left {
    left: 2rem;
}

.arrow-right {
    right: 2rem;
}

.icon-button {
    color: rgba(255, 255, 255, 0.6);
    user-select: none;
    transition: color 0.2s;
}

.icon-button:hover {
    cursor: pointer;
    color: white;
}

.icon-button:active {
    color: rgba(255, 255, 255, 0.6);
}

.quotes {
    position: absolute;
    width: clamp(300px, 50%, 900px);
    left: 50%;
    bottom: 1.5rem;
    transform: translate(-50%);
    color: white;
    font-size: calc(0.5rem + 0.4vw);
    line-height: calc(0.7rem + 0.4vw);
    text-align: center;
    transition: 0.3s ease-out;
    padding: 3rem 0 0 0;
    overflow: hidden;
    z-index: 2;
}

@media (max-width: 500px) {
    .quotes {
        bottom: 3rem;
    }
}

.quotes-text-active {
    transform: translate(-50%, 13%);

}

.quote-refresh {
    position: absolute;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-24px,0);
    transition: 0.3s ease-in; 
}

.quote-active {
    transform: translate(-24px, -44px);
    opacity: 1;
    visibility: visible;
}

.quote-text {
    cursor: default;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
}

.material-symbols-outlined.md-30 {
    font-size: 30px;
}


/*      credits */

.credits {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1vw;
    gap: 1rem;
    color: rgba(255, 255, 255, 0.4);
}

.credits__logo {
    filter: invert(100%);
    height: 16px;
    width: fit-content;
    opacity: 0.6;
    transition: 0.2s;
}

.credits__logo:hover {
    opacity: 1;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    scale: 1;
    /* transform: scale(1); */
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    scale: 0.8;
    /* transform: scale(0.8); */
}