@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', arial, sans-serif;

}

.main {
    background: no-repeat center / cover #666;
    height: 100vh;
    background-blend-mode: overlay;
    transition: background 0.8s;
}

.top-line {
    display: flex;
    padding: 2rem 3rem;
    font-size: 1.25rem;
}

.visible-hide {
    visibility: hidden;
}

/*      weather         */

.weather {
    margin-left: auto;
    min-width: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: calc(0.7rem + 0.4vw);
}

.weather-icon {
    filter: invert(100%);
    width: 72px;
}

.input-weather-city {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    font-size: inherit;
    color: rgba(255, 255, 255, 0.8);
    padding: 0;
    position: relative;
    bottom: -2px;
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
}

.input-weather-city::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: inherit;
}


/*      audio         */

.audio {
    min-width: 15%;
}


/*      central view         */

.center-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 1vw;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.time {
    font-size: calc(1rem + 4vw);
    font-weight: bold;
}

.center-date {
    font-size: calc(1rem + 0.5vw);
}

.greetings {
    display: flex;
    font-size: calc(1rem + 1.2vw);
    gap: 1rem;
}

.hello-to-name {
    text-align: right;
}

.inputName {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    font-size: inherit;
    color: rgba(255, 255, 255, 0.8);
    padding: 0;
    position: relative;
    bottom: -2px;
}

.inputName::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: inherit;
}

.arrow-for-bg {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.6);
    transform: translateY(-50%);
    user-select: none;
    transition: color 0.2s;
    z-index: 2;
}

.arrow-for-bg:hover {
    cursor: pointer;
    color:white;
}

.arrow-left {
    left: 2rem;
}

.arrow-right {
    right: 2rem;
}

.material-icons.md-48 {
    font-size: 48px;
}

.quotes {
    position: absolute;
    width: clamp(300px, 40%, 800px);
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

.quote-refresh {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    left: 50%;
    top: -4rem;
    transform: translateX(-50%);
    user-select: none;
    transition: color 0.2s;
}

.quote-refresh:hover {
    cursor: pointer;
    color: white;
}

.quote-text {
    margin-bottom: 1rem;
}

