@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', arial, sans-serif;

}

.main {
    background: no-repeat center / cover #444444;
    height: 100vh;
    transition: background 0.2s;
}

.top-line {
    display: flex;
    padding: 2rem 3rem;
    font-size: 1.25rem;
}

/*      weather         */

.weather {
    margin-left: auto;
    min-width: 15%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.weather-icon {
    filter: invert(100%);
    width: 72px;
}

.city-name {
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
}

/*      audio         */

.audio {
    min-width: 15%;
}




/*      central view         */

.center-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.time {
    font-size: 7rem;
}

.center-date {
    font-size: 2rem;
}

.greetings {
    display: flex;
    gap: 1rem;
}

.hello {
    font-size: 3rem;
    text-align: right;
}

.inputName {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.8);
}

.inputName::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 3rem;
}

.arrow-for-bg {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: white;
    transform: translateY(-50%);
    user-select: none;
    transition: color 0.2s;
}

.arrow-for-bg:hover {
    cursor: pointer;
    color:rgba(255, 255, 255, 0.6)
}

.arrow-left {
    left: 2rem;
}

.arrow-right {
    right: 2rem;
}

.material-icons.md-48 {
    font-size: 48px;
}

.quotes {
    position: absolute;
    max-width: 40%;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

.quote-refresh {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    left: 50%;
    top: -4rem;
    transform: translateX(-50%);
    user-select: none;
    transition: color 0.2s;
}

.quote-refresh:hover {
    cursor: pointer;
    color: white;
}

.quote-text {
    margin-bottom: 1rem;
}